/* Color Theme Swatches in Hex */
$pink-hex: #EE0CF2;
$purple-hex: #8A118C;
$black-hex: #08080D;
$blue-hex: #05F2AF;
$green-hex: #0DA67B;

/* Color Theme Swatches in RGBA */
$pink-rgba: rgba(238,12,242, 1);
$purple-rgba: rgba(138,17,140, 1);
$black-rgba: rgba(8,8,13, 1);
$blue-rgba: rgba(5,242,175, 1);
$green-rgba: rgba(13,166,123, 1);

/* Color Theme Swatches in HSLA */
$pink-hsla: hsla(298, 90, 49, 1);
$purple-hsla: hsla(299, 78, 30, 1);
$black-hsla: hsla(240, 23, 4, 1);
$blue-hsla: hsla(163, 95, 48, 1);
$green-hsla: hsla(163, 85, 35, 1);

@import '~bootstrap/scss/bootstrap.scss';

body {
    background-color: $black-hex;
}

h1 {
    color: $blue-hex;
    font-weight: 2rem;
}

.caps {
    text-transform: uppercase;
}

#gameArea {
    width: 800px;
    height: 600px;
    background-color: powderblue;
}

#virus {
    position: relative;
}

//Grid for ingame
.ingame {
    display: grid;
    grid-template-columns: 1fr 550px 550px 1fr;
    grid-template-rows: auto 300px 300px;
    grid-template-areas: 
      "header header header header"
      "title game game ."
      "title game game .";

    h1 {
        grid-area: title;
    }

    h2 {
        grid-area: header;
    }
}

//Grid for searching
.lookingForOpponent {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 550px 550px 1fr;
    grid-template-rows: auto 300px 300px;
    grid-template-areas: 
      "header header header header"
      "title game game ."
      "title game game .";

    h1 {
        writing-mode: vertical-rl;
        transform:rotate(180deg);
        text-transform: uppercase;
        grid-area: title;
    }

    h2 {
        color: $blue-hex;
        font-size: 2rem;
        margin-top: 1rem;
    }

    .world_map {
        grid-area: game;
        width: 100%;
        height: 100%;
    }
    
    .waiting_container {
        grid-area: header;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .virus_icons {
            display: flex;
            justify-content: center;
            width: 300px;
            height: 30px;
            background-repeat: no-repeat;
            background-image: url(/static/media/loadingbar.c6f617ac.svg);
            align-self: center;
            margin-top: 1rem;
            animation: loadingbar 5s ease infinite;
        }
    }
}

//grid for pre game
.pregame {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ."
    ". content ."
    ". . ."
    ". . .";
    
    .content {
        grid-area: content;
    }
    h1 {
        margin-bottom: 2rem;
        font-size: 4rem;
    };
}

.username_input {
    background-color: $black-hex;
    border: none;
    color: $blue-hex;
    font-size: 2rem;
    box-shadow: none !important;
    
    &:focus {
        background-color: $black-hex;
        border: none;
        color: $blue-hex;
    }
    
    &::placeholder{
        color: $blue-hex;
    }
}

//Grid for postgame
.postgame {
    display: grid;
    grid-template-columns: 1fr 550px 550px 1fr;
    grid-template-rows: auto 300px 300px;
    grid-template-areas: 
    "header header header header"
    "title playagain playagain ."
    "title playagain playagain .";
}

@keyframes loadingbar {
    // 0% {width:33%}
    // 40% {width:60%}
    // 60% {width:60%;}
    // 100% {width:33%;}

    0% {
        opacity: 0;
    }
    
    40% {
        opacity: 1;
    }
    
    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}